# Giberish files
.vscode
.github
.user.ini
.php_cs.cache
.scannerwork/*
USER.INI
error_log
TODO
.DS_Store
*~
*.swp
*.bak
*.sav
.git
runme.php
*.sublime-project
*.code-workspace
push.sh
sample-data/*

# Exclude userspice base
# Because I want to include users/cron/backup.php I need to do this
# https://stackoverflow.com/questions/5533050/gitignore-exclude-folder-but-include-specific-subfolder
!users/
users/**
!users/cron/
!users/images/
!users/images/logo.png
# Exclude userspice extentions.  These need to be manually installed
usersc/plugins/*
#
# Include all the hooks
!usersc/plugins/cronpro/
usersc/plugins/cronpro/*
!usersc/plugins/cronpro/assets/
usersc/includes/deprecated/*
!usersc/includes/analytics.php

#
usersc/templates/*
!usersc/templates/points

usersc/widgets/*
install/*

@backup*
# exclude UserSpice update backups
usupdate.zip
users/updates/
# exclude Test Cases
tests/
#exclude composer and vendor files
vendor
composer.lock
usersc/vendor
usersc/tests
usersc/plugins/hooker/hooks/uman_tbody.php
app/Points/output.csv
classifiers/includes/*
